
.container-sidenav {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  /* opcional para evitar manchas blancas */
}

mat-sidenav {
  width: 250px;
  background-color: #eeeeee;
  /* opcional para evitar contraste blanco */
}

.main-content {
  flex: 1;
}
