@use '@angular/material' as mat;

// Paletas
$dark-primary: mat.define-palette(mat.$blue-grey-palette, 900);
$dark-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$red-palette);

// Tema oscuro
$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
      ),
    ));

// Tema claro
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette, A200);
$light-theme: mat.define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
        warn: $dark-warn,
      ),
    ));

// Aplica el tema por defecto
@include mat.all-component-themes($dark-theme);
