<h2 mat-dialog-title>Crear Asesor</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Nombre del asesor</mat-label>
    <input matInput [(ngModel)]="nombre" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Número WhatsApp</mat-label>
    <input matInput [(ngModel)]="numero_whatsapp" required />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button color="primary" (click)="crear()">Crear</button>
</mat-dialog-actions>
