:host {
  display: block;
  max-width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
  margin-top: 8px;
}
