.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.qr-container img {
  max-width: 250px;
  margin-bottom: 16px;
}

.qr-info {
  text-align: center;
  margin-bottom: 16px;
}

button {
  border-radius: 20px;
}
